@import "./base/typography";
@import "./abstracts/variables";
@import "./layout/flex";

#app-home-page {
    @media (max-width:  768px) {
        padding-bottom: 42px;
        padding-top: 10px;
    }
    .mood-image{
        position: relative;
        img{
            max-width: 100%;
        }
        .fader{
            position: absolute;
            background-color: transparent;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0; 
            -webkit-box-shadow: inset 0px -46px 25px -20px white;
            -moz-box-shadow: inset 0px -46px 25px -20px white;
            box-shadow: inset 0px -46px 25px -20px white;
        }
        
        
    }
    .gallery{
        margin: 30px 0;
        .gallery-body{

            .grid{
                max-width: 1225px;
                margin: 0 auto;
            }
            @media (max-width:  768px) {
                padding-bottom: 12px;
                padding-top: 12px;
            }
            &.sm{
                .size-1{
                    width: 50%;
                }
                .size-2{
                    width: 100%;
                }
            }
            .grid-sizer,
            .size-1 {
                width: 25%;
            }
            .size-2{
                width: 50%;
            }
            .grid-item{
                padding:10px;
                background-color: transparent;
                overflow: hidden;
                opacity: 1;
                position: absolute;
                .item-wrapper{
                    position: relative;
                    border-radius: 5px;
                    box-shadow: 1px 4px 4px -2px #e3e0e0;
                }     
                img{
                    background: #D8D5D2;
                    width: 100%;
                    transition: all .3s;
                    overflow: hidden;
                    border-radius: 5px;
                }
                &:hover{
                    img{
                        opacity: 0.4;
                        transition: all .3s;
                        //transform: scale(1.1);
                    }
                }
            } 
        }
    }
    .about-me{
        height: 700px;
        background-color: #F1F6F6;
        @include flexbox();
        @include align-items(center);
        .info{
            max-width: 1024px;
            margin: 0 auto;
            h2{
                text-align: center;
                @include font-headers(23px, $font-gray);
            }
            h3{
                text-align: center;
                @include font-paragraph-1(20px, $font-gray);
            }
            p{
                margin-top: 40px;
                @include font-paragraph-1(16px, $font-gray);
            }
        }
    }
}