@import "./base/typography";
@import "./abstracts/variables";
@import "./layout/flex";

#app-nav{
    position: relative;
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    background:transparent;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(flex-end);
    #head{
        @media (max-width:  768px) {
            @include flexbox();
            @include justify-content(space-between);
            @include align-items(flex-end);
            padding: 0 10px;
            box-shadow:0px 1px 7px -3px #000000;
            background-color: #fff;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 5;
            height: 60px;   
            padding-top: 0;
            @include align-items(center);
            width: 100%;
            h1{
                width: 150px;
            }
            button#social{
                display: block;
            }
        }
        width: 220px;
        margin: 0;
        img{
            width: 100%; 
        }
    }
    button#social{
        background-color: transparent;
        border: 0;
        font-size: 25px;
        display: none;
        cursor: pointer;
    }

    #main-nav{
        @media (max-width:  768px) {
            box-shadow:0px 2px 9px -2px #000000;
            background-color: #fff;
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            height: 60px;
            ul{
                width: 100%;
                li{
                    
                    &:first-child{
                        width: 100%;
                        padding-right: 0px;
                        text-align: center;
                    }
                    &:last-child{
                        padding-left: 0px;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
        height: 100%;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        ul{  
            margin: 0;
            @include flexbox();
            @include align-items(stretch);
            @include justify-content(space-between);
            list-style-type: none;
            li{
                a{
                    @include font-paragraph-1(11px, $font-gray);
                    text-decoration: none;
                    cursor: pointer;
                    border-bottom: 1px solid $white;
                    &:hover{
                        border-bottom: 1px solid #000;
                    }
                }
                &:first-child{
                    padding-right: 10px;
                }
                &:last-child{
                    padding-left: 10px;
                }
            } 
        }
    }

    #side-nav{
        @media (max-width:  768px) {
            display: none;
        }
        @include flexbox();
        @include flex-direction(column);
        @include align-items(stretch);
        position: absolute;
        top: 103px;
        right: -65px;
        ul.filters{
            list-style-type: none;
            @include flexbox();
            @include flex-direction(column);
            margin: 0;
            li{
                margin-bottom: 12px;
                
                i{
                    color: $font-gray;
                    font-size: 16px;
                    margin-right: 10px;
                }
                a{
                    @include font-paragraph-1(11px, $font-gray);
                    border-bottom: 1px solid $white;
                }
            }
        }
    }

    #social-nav{
        display: none;
        @media (max-width:  768px) {
            @include flexbox();
            @include flex-direction(column);
            @include align-items(center);
            @include justify-content(center);
            top: -100%;
            opacity: 0;
            right: 0;
            height: 100%;
            left: 0;
            background: rgba(0, 0, 0, 0.95);
            z-index: 2;
            position: fixed;
            transition: all .3s ease-in-out;
            &.open{
                opacity: 1;
                top:0px;
                transition: all .3s ease-in-out;
            }
        }
        ul{
            li{
                margin: 0 auto;
                margin-bottom: 40px;
                i,a{
                    color: #fff;
                    font-size: 34px;
                }
                i{
                    margin-right: 15px;
                }
            }
        }
    }
}
